body{
    margin: 0;
}
#header{
    background-color: #D95;
    margin: 0px;
    width: 100%;
    height: 120px;
}
#main{
    margin: 0px auto;
    width: 90%;
}
#container{
/*
    width: 200px;
    height: 150px;
*/
}
.dead-square, .alive-square{
    margin: 3px;
    width: 50px;
    height: 40px;
    display: inline-block;
}
.dead-square{
    background-color: #D95;

}
.alive-square{
    background-color: #272;
}
#step-into, #set-size{
    display: inline;
}
#step-into, #set-size-button{    
    border-radius: 6px;
    background-color: #272;
    width: 150px;
    height: 70px;
    color: whitesmoke;    
}
#step-into:hover, #set-size-button:hover{
    background-color: #2A2;
} 
.set-size-input{ 
    border-radius: 6px;
    background-color: #272;
    width: 120px;
    height: 50px;
    color: whitesmoke;
    vertical-align: middle;
    text-align: center;
}
#main-menu{
    margin: 0px auto;
    width: 50%; 
    padding-top: 10px;
}
